<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Suite">

    <listeners>
        <listener class-name="lessons.utilities.ListenersUtility"/>
    </listeners>

    <test name="UI Tests">

        <classes>
            <class name="lessons.TestScripts.LoginTest"/>
        </classes>

    </test>

</suite>